
body{
    margin: 0px;
    background-color:rgb(237, 246, 249);
}


.nav{
    display: flex;
    justify-content: right;
    font-size: 15px;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
    top: 0px;
    background-color: azure;
}
.nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #757575;
}
.nav img{
    width: 20px;
    cursor: pointer;
    
}


#navbar form > input{
    width: 800px;
    height: 40px;
    margin: auto;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: -05px;
}
#navbar form > button{
    height: 46px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(238, 134, 97);
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
#navbar{
    display: flex;

    justify-content: space-around;
    align-items: center;
    margin-top: -35px;
    margin-left: 3%;
    top: 0px;
}
#navbar p{
    margin-bottom: -4px;
}
#navbar a{
    text-decoration: none;
    color: teal;
}

#navbar > button{
    border: none;
    background-color: transparent;
    color: #212121;
    font-size: 15px;

}
#navbar > img:nth-child(1) {
    width: 7%;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 100px;
    
}
#navbar > img:nth-child(3),
#navbar > img:nth-child(4),
#navbar > img:nth-child(5),
#navbar > img:nth-child(6),
#navbar > img:nth-child(7){
    width: 25px;
    margin-bottom: -15px;
    border: solid black 3px;
    padding: 2px;
    border-radius: 20px;
}


/* ======================================
======================================
====================================== */

/* #navbar > button:hover{
 }     */



/* ======================================
======================================
====================================== */
.banner{
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin: auto;
    background-color: teal;
    padding: 10px 13.5%;
    align-items: center;
    margin-top: -6px;
    font-size: 14px;
}
.banner img{
    width: 6%;
}
.banner a{
    text-decoration: none;
    color: aliceblue;
}
/* ======================================
======================================
====================================== */
#banner2{
display: flex;
justify-content: space-around;
width: 82%;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
padding: 10px 9%;
}

#banner2 a{
    text-decoration: none;
    caret-color: black;
    color: black;
}
/* =================================
=================================
================================= */

#main{
    display: flex;
    width: 96%;
    margin: auto;
    margin-top: 20px;
}

#right {
    width: 100%;
    margin-left: 20px;
    padding:0px 20px;
    background-color: white;
}

#right button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
h2 + div {
    display: flex;
    justify-content: space-between;
}

#line{
    border: solid #212121 .1px;
}